h1 {
    margin-top:20px;
    margin-bottom:10px;
    font-size: 40px;
    text-align: center;
/*    font-family:sans-serif;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
    width=50%
    
}

h2 {
    text-align: center;
    
}

h3{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
/*    background-color:#97d2e6;*/
/*    background-color:#8BBEE8FF;*/
    background-image: url("../images/IMG_2389_alt.JPG");
    background-size: cover;
    color:white;
}

.header{
/*    background-color: #A8D5BAFF;*/
/*    background-color: #D7A9E3FF;*/
/*    background-color:#8BBEE8FF;*/
    margin-top: 200px;
    margin-bottom: 20px;
    padding-bottom:20px;
    padding-top:20px;
}


.overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #f2d50a;
    opacity: 0;
}

.nav-container{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.nav-col{
    padding: 200px 30px;
    width 24%;
    display: inline-block;
}

.nav-col h2{
    font-size: 50px;
    color: #333;
}

.nav-col ul{
    padding:0;
    list-style: none;
}

.nav-col ul li a{
    color: #f0f0f0;
    font-size: 18px;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition: color .2s;
}

.nav-col ul li a: hover{
    color: #1c9769;
}



/* Add a black background color to the top navigation */
.topnav {
/*    background-color:#8BBEE8FF;*/
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: white;
    font-weight: bold;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: 	black;
    cursor: pointer;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    float: left;
/*    background-color: #8BBEE8FF;*/
    color: white;
  }

.topnav a.active:hover{
    color:black;
    cursor: pointer;
}

.topnav a.active:active{
    color:black;
    cursor: pointer;
}
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

ul{
    list-style-type:none;
    text-align:center;
}


.icons li{
    display:inline;
}


.icons img{
    width:50px;
    margin: 5px 20px;
    fill:grey;
}


.info{
    
    text-align: center;
    border: 2px solid white;
    width:10%;
    margin-top: 10px;
    margin-bottom: 30px;
    
/*     background-color: #A8D5BAFF;*/
    border-radius: 25px;
    margin-right:10px;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    color:white;
}



.info:hover{
    background-color:black;
    color:white;
    cursor: pointer;
    text-decoration:none;
}

.info:active{
    background-color:black;
    color:white;
    cursor: pointer;
    text-decoration:none;
}



.footnote{
    text-align: center;
    padding-top: 10px;
}

#links{
    margin-top: 20px;
    margin-bottom:235px;
}

.center{
    text-align: center;
    margin-bottom: 20px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.modal {
    color:black;
    
}

.modal-header{
    padding-bottom: 90px;
    font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
}

.modal-header h2{
    font-size: 60px;
    text-transform: uppercase;
    text-decoration: underline;
  text-decoration-color: #8BBEE8FF;
    text-underline-position: under;
    
}

.svg{
    filter: invert(30%) ;
}
.svg:hover{
        filter: invert(0%) ;
    }

.svg:active{
        filter: invert(0%) ;
    }


#aboutpage{
    margin-top: 110px; 
    margin-bottom: 70px;
    display:none;
    opacity: 0;
}

.pfp {
   
/*    border: 1px solid black;*/
    width:50%;
    border-radius: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  
    color:aqua;
}
.about-text{
    border: 1px solid white;
}
.about-text h2{
    margin-top: 40px;
    text-decoration: underline;
    text-underline-position: under;
}

.about-text p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    padding-top:30px;
    text-align:center;
    color: white;
    font-size: 25px;
    
    font-weight: lighter;
}

#projectlistpage{
    display:none;
    opacity: 0;
}

#mainpage{
    opacity: 1
}

#projectlistpage{
    text-align: center;
}

#projectlistpage h2{
    display: inlilne;
    font-size: 50px;
    margin-bottom: 100px;
    border: 1px solid white;

    padding: 50px 25px;
    text-decoration: underline;
    text-underline-position: under;
}

#greeneats{
    
}

#coding{
    width=50%;
}

#birdseye{
    width=1px;;
}

#hedwig{
    
}







