h1 {
    font-size: 70px;
    color: #333;
    text-align: center;
    margin-top: 250px;
}

h2 {
    text-align: center;
    
}

h3{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.button{
    font-size: 50px;
    position: absolute;
    top: 6px;
    right: 50px;
    z-index: 999; 
}

.button a{
    text-decoration: none;
}

.btn-open:after{
    font-family: "FontAwesome";
    content: "\f0c9"; /*unicode for the bars icon*/
    color: #333;
    transition: color .2s /*delays when the color is activated*/ 
}

/* after allows you to add or insert something after the content*/

.btn-open:hover:after{
    color:#1c9769;
}

.btn-close:after{
    font-family: "FontAwesome";
    content: "\f00d";
    color: #333;
    transition: color .2s;
}

.btn-close:hover:after{
    color:#1c9769;
}

.overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #f2d50a;
    opacity: 0;
}

.nav-container{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.nav-col{
    padding: 200px 30px;
    width 24%;
    display: inline-block;
}

.nav-col h2{
    font-size: 50px;
    color: #333;
}

.nav-col ul{
    padding:0;
    list-style: none;
}

.nav-col ul li a{
    color: #f0f0f0;
    font-size: 18px;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition: color .2s;
}

.nav-col ul li a: hover{
    color: #1c9769;
}

.pfp {
    border-radius: 50%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
